.cart {
    background: #EFEEE8;
    background: -webkit-linear-gradient(to right, #eecda3, #ef629f);
    background: linear-gradient(to right, #eecda3, #c6b670);
    min-height: 100vh;
}

.spc1 {
    width: 70px !important;
    height: 70px !important;
}