<h3 class="font-semibold">Bảng điều khiển</h3>
<div class="mt-2 p-2 flex ">
    <select class="">
        <option value={0}>Không chọn</option>
        <option value={1}>Tháng 1</option>
        <option value={2}>Tháng 2</option>
        <option value={3}>Tháng 3</option>
        <option value={4}>Tháng 4</option>
        <option value={5}>Tháng 5</option>
        <option value={6}>Tháng 6</option>
        <option value={7}>Tháng 7</option>
        <option value={8}>Tháng 8</option>
        <option value={9}>Tháng 9</option>
        <option value={10}>Tháng 10</option>
        <option value={11}>Tháng 11</option>
        <option value={12}>Tháng 12</option>
    </select>
    <select>
        <option value="" disabled>Năm </option>
        <option value={2022}>Năm 2022</option>
        <option value={2023}>Năm 2023</option>
        <option value={2024}>Năm 2024</option>
    </select>
</div>