<section id="popular-books" class="bookshelf">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-header align-center">
                    <div class="title">
                        <span>--Danh mục</span>
                    </div>
                    <h2 class="section-title">Khám phá các danh mục</h2>
                </div>
                <ul class="tabs">
                    <li class="active tab" routerLink="">All Genre</li>
                    <li *ngFor="let category of categories; index as i" routerLink="/category/{{category._id}}"
                        class="tab">{{category.category_name}}</li>
                </ul>

            </div><!--inner-tabs-->
            <!-- <div class="paginate">
                <mat-paginator [length]="formattedPagination.length" [pageSize]="formattedPagination.pageSize"
                    [pageSizeOptions]="formattedPagination.pageSizeOptions" [pageIndex]=" formattedPagination.pageIndex"
                    (page)="onPageChange($event)">
                </mat-paginator>
            </div> -->
        </div>
    </div>
</section>